<!-- Author:      Hansol Lee
     Description: Navbar HTML controlling the upper navigation bar functionality -->

<!-- Displays Protein Database Logo on lefthand side -->
<!-- Logo created using generic text operations from draw.io -->
<nav class="navbar navbar-expand navbar-light bg-light">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a class="navbar-brand" href="#"><img src="/assets/images/ProteinLogo.jpg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Displays one of two headings to primarily denote login status -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" routerLink="" *ngIf="!isLoggedIn()"> <span>Welcome to the Protein Database!</span>           
            </a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link active" routerLink="" *ngIf="isLoggedIn()"> <span>Hello Administrator! <br> Feel free to add/edit/or delete items.</span>           
            </a>
        </div>
    </div>

    <!-- Register and Log In links will only be displayed while user is not logged in 
         Log Out link will only be displayed while user is logged in -->
    <div class="navbar-end ">
        <a class="nav-item" routerLink="register" *ngIf="!isLoggedIn()">
            <span class="has-icon-left">Register</span>
        </a>
        &nbsp;
        <a class="nav-item" routerLink="login" *ngIf="!isLoggedIn()">
            <span class="has-icon-left">Log In</span>
        </a>
        &nbsp;
        &nbsp;
        <a class="nav-item active" (click)="onLogout()" *ngIf="isLoggedIn()">
            <span class="has-icon-left">Log Out</span>
        </a>
        &nbsp;
        &nbsp;
    </div>
</nav>

