<!-- Author:      Hansol Lee
     Description: Template for the Rooms webpage integrating header/footer partials and JSON properties -->

<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Rooms - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header_rooms }}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Rooms</h1>
							<ul id="rooms">
			{{#each rooms}}					
								<li>
									<a href="/rooms"><img src="images/{{this.image}}" alt="Img"></a>
									<h2><a href="/rooms">{{this.name}}</a></h2>
									<ul {{{this.description}}} </ul>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
									<span class="rate">{{this.rate}}</span>
								</li>
			{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer_rooms }}
	</div>
</body>
</html>